{% comment %}
{#<!-- ***** Preloader Start ***** -->#}
{#  <div id="preloader">#}
{#      <div class="jumper">#}
{#          <div></div>#}
{#          <div></div>#}
{#          <div></div>#}
{#      </div>#}
{#  </div>  #}
{#<!-- ***** Preloader End ***** -->#}
{% endcomment %}


{#<!-- Header -->#}
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-page' %}">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'lifestyle' %}">Lifesyle</a>
                            <a class="dropdown-item" href="{% url 'nature' %}">Nature</a>
                            <a class="dropdown-item" href="{% url 'creative' %}">Creative</a>
                            <a class="dropdown-item" href="{% url 'motivation' %}">Motivation</a>
                            <a class="dropdown-item" href="{% url 'inspiration' %}">Inspiration</a>
                            <a class="dropdown-item" href="{% url 'travel' %}">Travel</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registr' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>