{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Recent Posts</h4>
                            <h2>Our Recent Blog Entries</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
 
                </div>
            </div>
        </div>
    </section>
    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for p in post %}
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ p.image.url }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>{{ p.category }}</span>
                                            <a href="{% url 'post-detail' p.id %}"><h4>{{ p.title  }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ p.author|capfirst }}</a></li>
                                                <li><a href="#">{{ p.created_at |date:"M d, Y" }}</a></li>
                                                <li><a href="#">Comments</a></li>
                                            </ul>
                                            <p>{{ p.content|truncatewords:10 }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <img style="width:20px" src="https://img.icons8.com/ios-glyphs/30/000000/visible--v1.png"/>
                                                        <span class="pl-2">{{p.views}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <ul class="page-numbers">
                                    {% if is_paginated %}
                                        {% if page_obj.has_previous %}
                                            <li><a href="?page=1">1</a></li>
                                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                                        {% endif %}
                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                                            <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-triple-right"></i>Last</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                    <form id="search_form" name="gs" method="GET" action="#">
                                        <input type="text" name="q" class="searchText" placeholder="type to search..."
                                               autocomplete="on">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="post-details.html">
                                                <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                                                <span>May 31, 2020</span>
                                            </a></li>
                                            <li><a href="post-details.html">
                                                <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                                                <span>May 28, 2020</span>
                                            </a></li>
                                            <li><a href="post-details.html">
                                                <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                                                <span>May 14, 2020</span>
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Categories</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="{% url 'lifestyle' %}">Lifestyle</a></li>
                                            <li><a href="{% url 'nature' %}">Nature</a></li>
                                            <li><a href="{% url 'creative' %}">Creative</a></li>
                                            <li><a href="{% url 'motivation' %}">Motivation</a></li>
                                            <li><a href="{% url 'inspiration' %}">Inspiration</a></li>
                                            <li><a href="{% url 'travel' %}">Travel</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item tags">
                                    <div class="sidebar-heading">
                                        <h2>Tag Clouds</h2>
                                    </div>
                                    <div class="content">
                                        {% for t in tags %}
                                            <ul>
                                                <li><a href="#">{{ t }}</a></li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
   

  