{% extends 'main/base.html' %}

{% block content %}
<head>
    <style>
        #messages {
            background-color: grey;
            color: #fff;
            padding: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Login</h4>
                            <h2></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="down-contact">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="sidebar-item contact-form">
                                    <div class="sidebar-heading">
                                        <h2>Login</h2>
                                    </div>
                                    <div class="content">
                                        <form id="login" action="" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <fieldset>
                                                        
                                                    </fieldset>
                                                    <label>
                                                        <input name="username" type="text" id="username"
                                                               placeholder="Username" required="">
                                                    </label>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                     <label>
                                                        <input name="password" type="password" id="password"
                                                        placeholder="Password">
                                                     </label>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label>
                                                        <button type="submit" id="form-submit" class="main-button">
                                                            Login
                                                        </button>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    {% for message in messages %}
                                        <p id="messages">{{ message }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar-item contact-information">
                                    <div class="sidebar-heading">
                                        <h2>Get In Touch</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <h5>21-221-2021</h5>
                                                <span>PHONE NUMBER</span>
                                            </li>
                                            <li>
                                                <h5>info@sherlockholmes.com</h5>
                                                <span>EMAIL ADDRESS</span>
                                            </li>
                                            <li>
                                                <h5>221b Baker Street,
                                                    <br>London 10660</h5>
                                                <span>STREET ADDRESS</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock content %}
 